.head {
}

.hide {
	display: none;
}

body {
	box-sizing: border-box;
}

.kik {
	color: red;
	background: rgb(43, 160, 58);
}

.dark-theme {
	background: rgb(39, 104, 52);
}
.navigation {
}
.navigation button {
}
.navigation button:hover {
}
.navigation button:active {
}
.navigation button:focus {
}
.to-do-list {
}
.to-do-list .to-do-list__to-do-constructor {
}
.to-do-list .to-do-list__to-do-constructor .to-do-list__new-to-do-name-input {
}
.to-do-list .to-do-list__to-do-constructor .to-do-list__adding-button {
}
.to-do-list .to-do-list__to-do-constructor .to-do-list__adding-button:hover {
}
.to-do-list .to-do-list__to-do-constructor .to-do-list__adding-button:active {
}
.to-do-list .to-do-list__to-do-constructor .to-do-list__adding-button:focus {
}
.to-do-list .to-do-list__empty-message {
}
